{{#each posts as |post| }}
<div class="container">
  <div class="notification is-primary">
    <a href="/posts/{{post.id}}">{{post.title}}</a>
  </div>
  <div class="box">
    {{post.content}}
    </br>
    </br>
    Created by : {{post.user.name}} on {{format_date post.date_created}}
  </div>
  </br>
</div>
{{/each}}