<div class="container">
  <div class="notification is-primary">
    {{title}}
  </div>
  <div class="box">
    {{content}}
    </br>
    </br>
    - Created by : <strong>{{user.name}}</strong> on {{format_date date_created}}
  </div>
  </br>
</div>
</br>
<textarea class="textarea" id="comment" placeholder="Comment"></textarea>
</br>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <button class="button is-primary" id="submitBtn" data-id="{{id}}" name="{{comment.name}}">Submit</button>
  </p>
</div>
</br>
{{#if comments.length}}
<h2 class="margin-left"><strong>Comment's Post</strong></h2>
</br>
{{#each comments as |comment| }}
<div class="container">
  <div class="box">
    {{comment.discription}}
    </br>
    </br>
    - Created by <strong>{{comment.commentName}}</strong> on {{format_time comment.date_post}}
  </div>
  </br>
</div>
{{/each}}
{{/if}}
<script src="/js/newcomment.js"></script>